<h1>
    <% if @room.chats.count == 0 %>
        Creating
    <% else %>
        Joining
    <% end %>
    <br>
    <%= @room.name %>
</h1>

<%= form_for @user do |f| %>
    <%= f.text_field :name, placeholder: "Display name" %>
    <%= f.submit "Enter" %>
<% end %>
