@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding: 15% 5%;
}

.new_chat {
    visibility: hidden;
}

@media only screen and (min-width: 768px) {
    body {
        padding: 5% 25%;
    }

    .new_chat {
        visibility: visible;
    }
}

div {
    padding: 10%;
}

.form-control-lg {
    height: 300%;
    padding: 5%;
    font-size: 4rem;
}

li {
    padding-bottom: 2%;
}
